<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/images/bookmark-ribbon 2.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Edit Event</title>
</head>

<body>

<!--Edit event-->

<!--/*@thymesVar id="event" type="ua.nicety.database.entity.Event"*/-->
<form th:action="@{'/schedules/' + ${event.schedule.id} + '/events/' + ${event.id} + '/edit'}" method="post" th:object="${event}">
    <div id="form" class="form">
        <div class="form-content">
            <div class="form-header">
                <h7 class="center">Edit Event</h7>
                <span class="back">←</span>
            </div>
            <div class="form-body">
                <div class="form-floating">
                    <input name="name" th:value="*{name}" type="text" class="form-control" id="floatingName" placeholder="Name" />
                    <label for="floatingName">Name</label>
                </div>
                <div class="form-floating">
                    <select name="day" th:value="*{day}" type="text" class="form-control" id="floatingDay" >
                        <option th:each="day : ${days}"
                                th:value="${day}"
                                th:text="${day.value}">Day</option>
                    </select>
                    <label for="floatingDay">Day</label>
                </div>
                <div class="form-floating">
                    <input name="time" th:value="*{time}" type="time" class="form-control" id="floatingTime" placeholder="Time" value="7:30"/>
                    <label for="floatingTime">Time</label>
                </div>
                <div class="form-floating">
                    <input name="description" th:value="*{description}" type="text" class="form-control" id="floatingDescription" placeholder="Description" />
                    <label for="floatingDescription">Description</label>
                </div>
                <div class="form-floating">
                    <input name="color" th:value="*{color}" type="color" class="form-control" id="floatingColor" value="#fcc39c">
                    <label for="floatingColor">Color</label>
                </div>
                <div class="form-floating">
                    <input name="smiles" th:value="*{smiles}" type="text" class="form-control" id="floatingSmile" placeholder="Smiles" />
                    <label for="floatingSmile">Smiles</label>
                </div>
            </div>

            <div th:if="${errors}">
                <p class="error" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
            </div>

            <div class="form-footer">
                <button class="w-25 btn btn-lg btn-primary " type="submit">Add</button>
            </div>
        </div>
    </div>
</form>

<script src="/js/main.js"></script>

<div>
    <!-- Delete event-->
    <form th:action="@{'/schedules/' + ${event.schedule.id} + '/events/' + ${event.id}}" method="post" class="form deleteForm">
        <button class="w-23 btn btn-lg btn-primary " type="submit">
            <img src="/static/images/delete.png" width="25" height="25" alt=""/>
        </button>
    </form>
</div>



</body>
</html>