<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="shortcut icon" href="/static/images/bookmark-ribbon 2.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Schedule</title>
</header>

<body>

<div th:insert="parts/main-header :: main-header"></div>

<!--Show user schedule-->

<main class="text-center">

    <div class="mainContainer ">
        <form th:action="@{/schedules/{id}(id=${schedule.id})}" method="get" th:object="${schedule}">
            <table class="schedule">
                <tr>
                    <th>Day</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>🎯</th>
                </tr>
                <tr th:each="element : ${mapEvents}">
                    <td th:text="${element.key.value}">Day</td>
                    <td>
                        <table>
                            <tr th:each="event : ${element.value}">
                                <td th:text="${event.name}"></td>
                                <td th:text="${event.time}"></td>
                                <td th:text="${event.smiles}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>

        <div>
            <a th:href="'/schedules/' + ${schedule.id} + '/events/new'" class="btn btn-primary scheduleButton">Create
                Event</a>
            <a class="btn btn-primary scheduleButton" th:href="'/schedules/' + ${schedule.id} + '/edit'">Edit
                Schedule</a>

            <form th:action="@{'/schedules/' + ${schedule.id}}" method="post">
                <button class="w-23 deleteButton btn btn-lg btn-primary " type="submit">
                    <img src="/static/images/delete.png" width="25" height="25" alt=""/>
                </button>
            </form>
        </div>

    </div>

</main>

</body>
</html>