<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/images/bookmark-ribbon 2.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Schedule</title>
</head>

<body>

<div th:insert="parts/main-header :: main-header"></div>

<!--Show user schedule-->

<main class="text-center">

    <div class="mainContainer ">
        <form th:action="@{/schedules/{id}(id=${schedule.id})}" method="get" th:object="${schedule}">

            <table class="schedule">
                <tr>
                    <th>Day</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>🎯</th>
                </tr>
                <th:block th:each="element : ${mapEvents}">
                    <th th:rowspan="${element.value.size}+1" th:text="${element.key.value}">Day</th>
                    <tr th:each="event : ${element.value}" th:styleappend="'background-color: ' + ${event.color}">
                        <td class="has-details">
                            <a th:href="'/schedules/' + ${schedule.id} + '/events/' + ${event.id} + '/edit' " class="editEventLink" th:text="${event.name}"></a>
                            <span class="details">
                                <div th:insert="/parts/desriptionPopup :: descriptionPopup"></div>
                            </span>
                        </td>
                        <td th:text="${event.time}"></td>
                        <td th:text="${event.smiles}"></td>
                    </tr>
                </th:block>
            </table>

        </form>

        <div>
            <a class="btn btn-primary" th:href="'/schedules/' + ${schedule.id} + '/events/new'">Create Event</a>
            <a class="btn btn-primary" th:href="'/schedules/' + ${schedule.id} + '/edit'">Edit Schedule</a>
            <a class="btn btn-primary" th:href="'/schedules/' + ${schedule.id} + '/mail'">Get in PDF by email</a>

            <!-- Delete Schedule -->
            <form th:action="@{'/schedules/' + ${schedule.id}}" method="post">
                <button class="deleteButton btn btn-lg btn-primary " type="submit">
                    <img src="/static/images/delete.png" width="25" height="25" alt=""/>
                </button>
            </form>

        </div>

    </div>

</main>

</body>
</html>