<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/images/bookmark-ribbon 2.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Schedules</title>
</head>

<!--Show all user schedules-->


<body>

<div class="mainContainer">

    <form th:action="@{/schedules/}" method="get" th:object="${mapSchedules}">
        <div th:each="mapEvents,iter : ${mapSchedules}">
            <a th:field="${schedules}" class="schedule-name" th:href="@{/schedules/{id}(id=${mapEvents.key})}" th:text="${schedules.get(iter.index).name}"/>

            <div class="center">

                <table class="schedule">
                    <tr>
                        <th>Day</th>
                        <th>Name</th>
                        <th>Time</th>
                        <th>🎯</th>
                    </tr>
                    <th:block th:each="element : ${mapEvents.value}">
                        <th th:rowspan="${element.value.size}+1" th:text="${element.key.value}">Day</th>
                        <tr th:each="event : ${element.value}">
                            <td><a th:text="${event.name}" th:href="'/schedules/' + ${mapEvents.key} + '/events/' + ${event.id} + '/edit' " class="editEventLink"/></td>
                            <td  th:text="${event.time}"></td>
                            <td  th:text="${event.smiles}"></td>
                        </tr>
                    </th:block>

                </table>

            </div><br><br>
        </div>
    </form>

    <a href="/schedules/new" class="btn btn-primary scheduleButton">Create Schedule</a>

</div>

<div th:insert="parts/footer :: footer"></div>
</body>
</html>