<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/images/bookmark-ribbon%202.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Schedules</title>
</head>

<!--Show all user common-schedules-->

<body>

<div class="mainContainer">

    <form th:action="@{/schedules/common-events}" method="get" th:object="${schedules}">
        <div th:each="schedule, iter : ${schedules}">
            <a class="btn-schedule-name form-schedule-name btn-primary schedule-name-text" th:href="@{/schedules/{id}(id=${schedules.get(iter.index).id})}" th:text="${schedules.get(iter.index).name}"/>
        </div>
    </form>

    <a href="/schedules/new" class="btn btn-primary-schedule-create">Create Schedule</a>

</div>

<div th:insert="parts/footer :: footer"></div>
</body>
</html>