<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/images/bookmark-ribbon%202.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Create Meeting</title>
</head>

<!--Create new meeting-->

<body>

<!--/*@thymesVar id="meeting" type="ua.nicety.database.entity.Meeting"*/-->
<form th:action="@{'/schedules/' + ${scheduleId} + '/meeting-events/new'}" method="post" th:object="${meeting}">

</form>
<script src="/js/main.js"></script>

</body>
</html>