<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/static/images/bookmark-ribbon 2.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <title>Nicety | All Users</title>
</head>

<!--Show all users-->

<body>

<!--/*@thymesVar id="users" type="ua.nicety.database.entity.User"*/-->
<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}"
       th:text="${user.getUsername() + ', ' + user.getRole()}">user</a>
</div>

<br/>
<hr/>

<a href="/users/new">Create new user</a>

<div th:insert="parts/footer :: footer"></div>
</body>
</html>
