<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" href="/static/images/bookmark-ribbon 2.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Main</title>
</head>

<body>

<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/main" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img class="m-1" src="/static/images/user-schedule.png" alt="" width="65" height="65">
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="/" class="nav-link text-white center">
                            <img class="ml-10" src="/static/images/home.png" alt="" width="45" height="45"><br>
                            <svg width="0" height="0"><use xlink:href="/"></use></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/schedules" class="nav-link text-white center">
                            <img class="ml-29" src="/static/images/schedule.png" alt="" width="45" height="45"><br>
                            <svg width="0" height="0"><use xlink:href="/schedules"></use></svg>
                            Schedules
                        </a>
                    </li>
                    <li>
                        <a href="/settings" class="nav-link text-white center">
                            <img class="ml-19" src="/static/images/schedule-settings(2).png" alt="" width="45" height="45"><br>
                            <svg width="0" height="0"><use xlink:href="/settings"></use></svg>
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="/contacts" class="nav-link text-white center">
                            <img class="ml-24" src="/static/images/contacts.png" alt="" width="45" height="45"><br>
                            <svg width="0" height="0"><use xlink:href="/contacts"></use></svg>
                            Contacts
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <input type="search" class="form-control" id="floatingInput" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" href="/events/new" style="margin-right: 5px" class="btn btn-primary">Create Event</button>
                <button type="button" href="/schedules/new" style="margin-right: 5px" class="btn btn-primary">New Schedule</button>
                <form th:action="@{/schedules/mail}"  method="post">
                    <button type="submit" style="margin-right: 5px" class="btn btn-primary">Send PDF to email</button>
                </form>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log out</button>
                </form>
            </div>
        </div>
    </div>

</header>

<main class="text-center">

    <div style="align:center">
        <h1>Manage yourself 🤟🏼</h1>
        <br>
        <table class="schedule">
            <thead>
            <tr>
                <th>Day</th>
                <th>Name</th>
                <th>Time</th>
                <th>🎯</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="event : ${events}">
                <th th:text="${event.day}"></th>
                <th th:text="${event.name}"></th>

            <tr>
                <th>Monday</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Tuesday</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Wednesday</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Thursday</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Friday</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Saturday</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th>Sunday</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<div th:insert="parts/footer :: footer"></div>

</body>
</html>