<div th:fragment="eventCreatorPopup">
    <button id="popupBtn" type="button" href="/events/new" class="btn btn-primary">Create Event</button>
    <div id="createEventPopup" class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <h2 class="center">Create Event</h2>
                <span class="close">&times;</span>
            </div>
            <div class="popup-body">
                <div class="form-floating">
                    <input name="name" type="text" class="form-control" id="floatingName" placeholder="Name">
                    <label for="floatingName">Name</label>
                </div>
                <!-- Add ability for choosing -->
                <div class="form-floating">
                    <input name="day" type="text" class="form-control" id="floatingDay" placeholder="Day">
                    <label for="floatingDay">Day</label>
                </div>
                <!-- Add ability for choosing by wheel-->
                <div class="form-floating">
                    <input name="time" type="time" class="form-control" id="floatingTime" placeholder="Time">
                    <label for="floatingTime">Time</label>
                </div>
                <div class="form-floating">
                    <input name="description" type="text" class="form-control" id="floatingDescription"
                           placeholder="Description">
                    <label for="floatingDescription">Description</label>
                </div>
                <!-- Add ability for choosing from palette-->
                <div class="form-floating">
                    <input name="color" type="text" class="form-control" id="floatingColor" placeholder="Color">
                    <label for="floatingColor">Color</label>
                </div>
                <div class="form-floating">
                    <input name="smile" type="text" class="form-control" id="floatingSmile" placeholder="Smile">
                    <label for="floatingSmile">Smile</label>
                </div>
            </div>
            <div class="popup-footer">
                <button class="w-25 btn btn-lg btn-primary " type="submit">Add</button>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</div>