<div th:fragment="schedule">

    <table class="schedule">
        <thead>
        <tr>
            <th>Day</th>
            <th>Name</th>
            <th>Time</th>
            <th>🎯</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${mapEvents}">
            <td th:text="${element.key.value}">Day</td>
            <table>
                <tr th:each="event : ${element.value}">
                    <td th:text="${event.name}">Some name</td>
                    <td th:text="${anews.description}">Some name</td>
                    <td th:text="${anews.url}">Some name</td>
                    <td th:text="${anews.logo}">Some name</td>
                    <td th:text="${anews.collectionDate}">Some name</td>
                </tr>
            </table>
        </tr>
        </tbody>
    </table>

</div>