<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/images/bookmark-ribbon%202.png" type="image/x-icon" class="icon"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <title>Nicety | Schedule</title>
</head>

<body>

<div th:insert="parts/main-header :: main-header"></div>

<!--Show user meeting-schedule-->

<main class="text-center">

    <div class="mainContainer ">
        <form th:action="@{/schedules/{id}(id=${schedule.id})/meeting-events}" method="get" th:object="${schedule}">

        </form>

        <div>

            <!-- Delete meeting-schedule -->
            <form th:action="@{'/schedules/' + ${schedule.id} + '/meeting-events'}" method="post">

            </form>

        </div>

    </div>

</main>

</body>
</html>